
.slick-slide, .slick-slide * {
    outline: none !important;
}

.slider-area {
    position: relative;
}

.slider-area.saga-slider-boxed {
    margin: 30px auto 0;
    padding-left: 15px;
    padding-right: 15px;
}

@media only screen and (min-width: 768px) {
    .slider-area.saga-slider-boxed {
        max-width: 750px;
    }
}

@media only screen and (min-width: 992px) {
    .slider-area.saga-slider-boxed {
        max-width: 970px;
    }
}

@media only screen and (min-width: 1200px) {
    .slider-area.saga-slider-boxed {
        max-width: 1170px;
    }
}

@media only screen and (min-width: 1600px) {
    .slider-area.saga-slider-boxed {
        max-width: 1370px;
    }
}

.slider-text.overlay:after {
    opacity: 0;
    filter: alpha(opacity=0);
}

.slider-text h1,
.site .widget_call_to_action .widget-title {
    color: #fff;
    font-size: 48px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 8px;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}

.slider-text h1 span {
    color: #ff424e;
}

.slider-text p {
    color: #ffffff;
    font-size: 16px;
}

.img-fill {
    width: 100%;
    min-height: 576px;
    height: 60vh;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center
}

.img-fill img {
    height: 100%;
    min-width: 100%;
    position: relative;
    display: inline-block;
    max-width: none;
}

.blocks-box,
.slick-slider {
    margin: 0;
    padding: 0 !important;
}

.slick-slide {
    float: left /* If RTL Make This Right */;
    padding: 0;
}

.saga-slider {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.saga-slider .item .img-fill {
    background-color: #000;
}

.saga-slider .item .img-fill .slider-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.slider-area.saga-slider-boxed .saga-slider .item .img-fill .slider-text {
    padding-left: 70px;
    padding-right: 70px;
}

@media only screen and (max-width: 640px) {
    .slider-area.saga-slider-boxed .saga-slider .item .img-fill .slider-text {
        padding-left: 20px;
        padding-right: 20px;
    }
    .saga-slider .item .img-fill .slider-text {text-align: center;}
}

.tb {
    display: table;
    height: 100%;
    width: 100%;
}

.tbc {
    display: table-cell;
    vertical-align: middle;
}

.slide-icon {
    position: absolute;
    border: 2px solid #fff;
    z-index: 1;
    display: block;
    width: 44px;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    top: 50%;
    margin-top: -22px;
    text-align: center;
    padding: 0;
}

.slide-icon:before {
    display: block;
    line-height: 40px;
    height: 40px;
}

.slide-prev:hover,
.slide-prev:focus,
.slide-next:hover,
.slide-next:focus {
    outline: none !important;
}

.slide-prev {
    left: 10px;
}

.slide-next {
    right: 10px;
}

@media only screen and (min-width: 992px) {
    .widget .slide-icon {
        border-color: #333;
        color: #333;
    }

    .widget .slide-prev {
        left: -50px;
    }

    .widget .slide-next {
        right: -50px;
    }
}

.slick-dots {
    display: block;
    width: 100%;
    left: 0;
    right: 0;
    padding: 0;
    padding-right: 20px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.saga-slider .slick-dots {
    position: absolute;
    bottom: 20px;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

body .slick-dots li > button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent !important;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    content: "";
    background: transparent;
    border: 1px solid #333;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    text-align: center;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    background: #ff424e;
    border-color: #ff424e;
}

.site .slick-slider .item.slick-active h1 {
    -webkit-animation: fadeInDown 1s both 1s;
    animation: fadeInDown 1s both 1s;
}

.site .slick-slider .item.slick-active p {
    -webkit-animation: fadeInUp 1s both 1s;
    animation: fadeInUp 1s both 1s;
}

.site .slick-slider .item.slick-active a.main-btn-primary {
    -webkit-animation: fadeInUp 1s both 1s;
    animation: fadeInUp 1s both 1s;
}

.slider-text p {
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
}

.slick-slider {
    position: relative;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    outline: none;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: ''
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    display: none;
    float: left; /* If RTL Make This Right */
    height: 100%;
    min-height: 1px;
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}
@media only screen and (max-width: 426px) {
    .slider-text h1{
        font-size: 30px;
    }

}